# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class
*.egg-info
*.egg
*.log

# ------------------------------
# Build
# ------------------------------
build/
dist/

# ------------------------------
# Virtual environments
# ------------------------------
venv/
.venv/
env/
.env

# ------------------------------
# PyCharm / IntelliJ IDEA
# ------------------------------
.idea/